.header {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    justify-content: space-between;
    padding-inline: 1.3rem;
}

.header-icons {
    width: 22px;
    height: 22px;
    margin-left: 0.5rem;
}

h1 {
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
   
}

.columnOne{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    background-color: #EFEFEF;
    width: 95%;
    height: 176px;
    margin: auto;
    margin-top: 167px;
}

    h2 {
        font-family:Arial, Helvetica, sans-serif;
        font-weight: lighter;
    }
    .priceGuest {
        display: grid;
        flex-direction: row;
    }
