html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    background-color: white;
    min-width: 600px;
    max-width: 600px;
}

/* Header and nav */
.header {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    justify-content: space-between;
    padding-inline: 1.3rem;
}

.header>div>img {
    margin-left: 0.5rem;
}

.header-icons {
    width: 18px;
    height: 18px;
}

h1 {
    font-size: small;
    font-style: italic;
    margin-block: 0.5rem;
}

main {
    margin-inline: 2.3rem;
    margin-block: 1.5rem;
}

/* All select options */
.top-selections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-select-box {
    border: 1px solid #EFEFEF;
    border-radius: 1px;
    color: #7e7e7e;
    font-style: italic;
    width: 6.2rem;
    padding-block: 0.3rem;
}

.bottom-selections {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.adjustments {
    width: 5.85rem;
    margin-right: 0.15rem;
}

.add-group {
    display: flex;
    justify-content: center;
}

.add-group>button {
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 5px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    width: 9rem;
}

.add-group>button:hover {
    background-color: #a6a4a4;
}

.add-group>button>img {
    margin-right: 0.4rem;
    width: 11px;
    height: 11px;
}

/*First grey column*/

.columnOne {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    flex-direction: row;
    background-color: #EFEFEF;
    padding-inline: 1.2rem;
    height: 250px;
    margin: auto;
    margin-top: 3rem;
    flex-wrap: wrap;

    h2 {
        font-weight: lighter;
        margin-left: 0.3rem;
        font-size: medium;
    }
}

.foodChoices {
    display: flex;
    flex-direction: column;

    p {
        text-align: center;
        margin-left: 0.2rem;
        width: 4.5rem;
        height: 1.4rem;
        border-radius: 0.1px;
        padding: 0;
        background-color: #FFFFFF;
        border: none;
        border-radius: 10px;
        font-size: smaller;
    }

    img {
        margin-left: 0.1rem;
        margin-top: 0.1rem;
        width: 10px;
        height: 10px;
    }

    .foodChoicesRow1 {
        display: flex;
        flex-direction: row;
    }

    .foodChoicesRow2 {
        display: flex;
        flex-direction: row;
    }

    .chosenGroups {
        margin-left: 0.3rem;
        margin-top: 0.7rem;
        display: flex;
        flex-direction: row;
        font-size: xx-small;

        .vegans {
            background-color: #FF9292;
            border-radius: 10px;
            padding: 0.45rem;
            margin-right: 0.2rem;
        }

        .vegetarians {
            background-color: #7C7BDE;
            border-radius: 10px;
            padding: 0.45rem;
            margin-right: 0.2rem;
        }

        .nutAllergic {
            background-color: #7FE258;
            border-radius: 10px;
            padding: 0.45rem;
        }
    }
}

.priceMax {
    display: grid;
    flex-direction: column;
    margin-bottom: 10rem;
    margin-left: 2rem;
}

.maxPriceBox {
    display: flex;
    justify-content: center;
    margin-left: 0.3rem;
    width: 6rem;
    height: 2.1rem;
    border-radius: 10px;
    padding: 0;
    background-color: #FFFFFF;
    border: none;

    p {
        margin-top: 0.1rem;
        align-items: center;
        font-size: small;
    }

    img {
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        width: 12px;
        height: 12px;
    }
}

.numberGuests {
    display: grid;
    flex-direction: column;
    margin-bottom: 11rem;
    margin-left: 1.5rem;

    h2 {
        font-size: medium;
    }

    p {
        font-size: small;
        margin-left: 1rem;
    }
}

/* Second grey column */
.column-two {
    background-color: #EFEFEF;
    margin-top: 1rem;
    padding-inline: 2rem;
}

.column-two-top {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.column-two-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.column-two-list-left {
    display: grid;
    flex-direction: column;
    font-style: italic;
    font-size: small;
    margin-right: 1rem;
}

.center-text {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    font-size: small;
    font-style: italic;
}

.right-text {
    text-align: right;
    display: grid;
    flex-direction: column;
    font-size: small;
    font-style: italic;
}


/* Third grey column */
.column-three {
    background-color: #EFEFEF;
    margin-top: 1rem;
    padding-inline: 2rem;
}

.column-three-top {
    display: flex;
    justify-content: space-between;
}

.column-three-top>div>p {
    margin-left: 1rem;
    color: #3A75FF;
    text-decoration: underline;
    font-style: italic;
}

.column-three-top>div {
    display: flex;
    align-items: center;

}

.column-three-top>img {
    margin-top: 1.33em;
    width: 14px;
    height: 14px;
}

.column-three-block-one {
    display: flex;
    justify-content: space-between;
}

.column-three-lists {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.column-three-lists > p{
    text-decoration: underline;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.column-three-block-two {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.column-three-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 3px;
    font-size: smaller;
    padding-inline: 0.9rem;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
}

.column-three-card>div {
    align-items: center;
    margin-bottom: 0.8rem;
}

.column-three-bottom{
    align-items: center;
    font-size: 0.85rem;
}

.column-three-bottom > div {
    margin-top: 1rem;
}

.adjustment-column-three {
    background-color: #E4E4E4;
    align-items: center;
    border-radius: 15px;
    padding-block: 0.4rem;
    padding-inline: 0.7rem;
    font-size: 0.9rem;

    img {
        width: 11px;
        height: 11px;
    }
}



/* Add-group-dialog */
#dialog-one {
    border-style: none;
    border-radius: 8px;
}

.amount-of-guests {
    margin-top: 1rem;

    input {
        width: 30%;
        border-radius: 5px;
        border: 1px solid black;
        padding-block: 0.3rem;
    }
}

.add-group-name {
    border-style: none;
    font-size: large;
    color: black;
}

#style-close-dialog-one {
    padding: 0;
    border: none;
    background-color: white;
    float: right;
}

#style-close-dialog-one>img {
    width: 15px;
    height: 15px;
}

.middle-part-dialog-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.middle-columns-dialog-one {
    display: flex;
    flex-direction: column;
}

.middle-columns-dialog-one>input {
    width: 68%;
}

.middle-columns-dialog-one:has(> input) {
    margin-left: 1rem;
}

.middle-columns-dialog-one>div {
    margin-bottom: 0.5rem;
}

.middle-columns-dialog-one>div>input {
    float: right;
    margin-right: 3rem;
}

.add-group-dialog {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.add-group-dialog>button {
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 15px;
    align-items: center;
    width: 10rem;
    padding: 0.2rem;
    padding-block: 0.4rem;
}

.add-group-dialog>button:hover {
    background-color: #a6a4a4;
}

.add-group-dialog>button>img {
    margin-right: 0.4rem;
    width: 11px;
    height: 11px;
}

/* Dialog two */
#dialog-two {
    padding: 0;
    border-radius: 8px;
    border-style: none;
}

.dialog-two-header {
    margin: 0;
    background-color: #FF9292;
    padding: 0.5rem;
}

#style-close-dialog-two {
    padding: 0;
    border: none;
    background-color: #FF9292;
    float: right;
}

#style-close-dialog-two>img {
    width: 15px;
    height: 15px;
}

.main-dialog-two-top>input {
    width: 5%;
    margin-left: 2.7rem;
}

.main-dialog-two {
    padding: 16px;
}

.add-group-dialog-two {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.add-group-dialog-two>button {
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 15px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    align-items: self-end;
}

.add-group-dialog-two>button:hover {
    background-color: #a6a4a4;
}