body {
    margin: 0;
}

/* Header and nav */
.header {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    justify-content: space-between;
    padding-inline: 1.3rem;
}

.header > div > img {
    margin-left: 0.5rem;
}

.header-icons {
    width: 18px;
    height: 18px;
}

h1 {
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-block: 0.5rem;
}

main {
    margin-inline: 2.3rem;
    margin-block: 1.5rem;
}

/* All select options */
.top-selections{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-select-box {
    border: 1px solid #EFEFEF;
    border-radius: 1px;
    color:#7e7e7e;
    font-style: italic;
    width: 6.2rem;
    padding-block: 0.3rem;
}

.bottom-selections{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.adjustments{
    width: 5.85rem;
    margin-right: 0.15rem;
}

.add-group{
    display: flex;
    justify-content: center;
}

.add-group > button {
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 5px;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    width: 9rem;
}

.add-group > button:hover{
    background-color: #a6a4a4;
}

.add-group > button > img {
    margin-right: 0.4rem;
    width: 11px;
    height: 11px;
}

/*First grey box*/

.columnOne{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    flex-direction: row;
    background-color: #EFEFEF;
    height: 300px;
    margin: auto;
    margin-top: 3rem;
    flex-wrap: wrap;
    


    h2 {
        font-family:Arial, Helvetica, sans-serif;
        font-weight: lighter;
        margin-left: 1.5rem;
        font-size: large;
    }

    .foodChoices {
        display: flex;
        flex-direction: column;

        .foodChoicesRow1 {
            display: flex;
            flex-direction: row;
        }
        .foodChoicesRow2 {
            display: flex;
            flex-direction: row;
        }

        .chosenGroups {
            margin-left: 1.3rem;
            margin-top: 0.7rem;

            .vegans {
                background-color: #FF9292;
                border-radius: 10px;
                padding: 0.45rem;
            }
            .vegetarians {
                background-color: #7C7BDE;
                border-radius: 10px;
                padding: 0.45rem;
            }
            .nutAllergic {
                background-color: #7FE258;
                border-radius: 10px;
                padding: 0.45rem;
            }
        }
        p {
            justify-content: center;
            margin-left: 1.3rem;
            width: 5rem;
            height: 2rem;
            border-radius: 0.1px;
            padding: 0;
            background-color: #FFFFFF;
            border: none;
            border-radius: 10px;
        }
        img {
            margin-left: 0.5rem;
            margin-top: 0.3rem;
            width: 15px;
            height: 15px;
            
        }
    }
}
    .priceMax {
        display: grid;
        flex-direction: column;
        margin-bottom: 10rem;
        margin-left: 2rem;
    }

    .maxPriceBox {
        display: flex;
        justify-content: center;
        margin-left: 1.3rem;
        width: 7rem;
        height: 3rem;
        border-radius: 10px;
        padding: 0;
        background-color: #FFFFFF;
        border: none;

        p {
            margin-top: 0.6rem;
            align-items: center;
            
        }

        img {
            margin-left: 0.5rem;
            margin-top: 0.3rem;
            width: 15px;
            height: 15px;
        }
    }
    .numberGuests {
        display: grid;
        flex-direction: column;
        margin-bottom: 10rem;
        margin-left: 3rem;

        p {
            margin-left: 2rem;
            font-size: larger;
        }
    }

/* Add-group-dialog */
#dialog-one{
    border-style: none;
    border-radius: 5px;
}

.amount-of-guests{
    margin-top: 1rem;

    input{
        width: 30%;
        border-radius: 5px;
        border: 1px solid black;
        padding-block: 0.3rem;
    }
}

.add-group-name{
    border-style: none;
    font-size: large;
    color: black;
}

#style-close-dialog-one{
    padding: 0;
    border: none;
    background-color: white;
    float: right;
}
#style-close-dialog-one > img {
    width: 15px;
    height: 15px;
}

.middle-part-dialog-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.middle-columns-dialog-one{
    display: flex;
    flex-direction: column;
}

.middle-columns-dialog-one > input{
    width: 68%;
}

.middle-columns-dialog-one:has(> input) {
    margin-left: 1rem;
}

.middle-columns-dialog-one > div {
    margin-bottom: 0.5rem;
}

.middle-columns-dialog-one > div > input {
    float: right;
    margin-right: 3rem;
}

.add-group-dialog{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.add-group-dialog > button {
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 15px;
    align-items: center;
    width: 10rem;
    padding: 0.2rem;
    padding-block: 0.4rem;
}

.add-group-dialog > button:hover{
    background-color: #a6a4a4;
}

.add-group-dialog > button > img {
    margin-right: 0.4rem;
    width: 11px;
    height: 11px;
}


